.fc-day-sun > div > div > a {
  color: #ff0000 !important;
}
.fc-day-sun > div > a {
  color: #ff0000 !important;
}
.fc-day-sat > div > div> a {
  color: #0000ff !important;
}
.fc-day-sat > div> a {
  color: #0000ff !important;
}
a {
    color: black !important;
    text-decoration: none !important;
  }
  